.jumbotron {
	background-color: rgb(124, 26, 26);
	border-radius: 0;
	margin-bottom: 0;
	color: blanchedalmond;
}

.jumbotron > .display-4 {
	font-weight: bold;
}

.jumbotron > .lead {
	font-size: x-large;
}

:root {
	scroll-behavior: smooth;
}

.main-wrapper {
	width: 100%;
}

main {
	background-color: rgb(153, 93, 209);
	padding: 1em 5em;
}

footer {
	background-color: darkblue;
}

code {
	border-radius: 7px;
	border: 2px dotted rgb(179, 255, 0);
	padding: 10px;
	max-height: 300px;
	scroll-behavior: smooth;
}

code > div {
	overflow: auto;
}

@media (max-width: 768px) {
	.jumbotron > .display-4 {
		font-size: 20px;
	}

	.jumbotron > .lead {
		font-size: 15px;
	}

	.jumbotron {
		max-height: 110px;
	}

	#server-data {
		height: 200px;
	}
}